<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/global.css">
  <link rel="stylesheet" href="styles/dashboard.module.css">
  <link rel="stylesheet" href="styles/tabmenu.module.css">
  <link rel="stylesheet" href="styles/cards.module.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <script src="https://unpkg.com/feather-icons"></script>
  <title>My Planner - Filmes</title>
</head>
<body>
  <div class="container">

    <nav class="navbar">
      <div>
        <button class="navbar__button" type="menu"><i class="navbar__button__icon" data-feather="menu"></i></button>
        <h1 class="navbar__logo logo">My Planner</h1>
      </div>  
    </nav>

    <div class="content">
      <div class="tabs">
        <div class="tabs__button active">
          <i class="tabs__icon" data-feather="film"></i>
          <p class="tabs__text">
            Films
          </p>
        </div>
        
        
        <a class="tabs__button" th:href="@{/livros}">
          <i class="tabs__icon" data-feather="book-open"></i>
            <p class="tabs__text">
              Books
            </p>
          </a>
          
          
          <a class="tabs__button" th:href="@{/series}">
            <i class="tabs__icon" data-feather="tv"></i>
            <p class="tabs__text">
              TV Shows
            </p>
          </a>
          
          
          <a class="tabs__button" th:href="@{/eventos}">
            <i class="tabs__icon" data-feather="calendar"></i>
            <p class="tabs__text">
              Events 
            </p>
          </a>
          
        </div>
        <div class="layer"></div>
        
        <div class="tab__content">
          <ul class="tab__content__list">
            <li><a class="tab__content__link active" href="#">Film's List</a></li>
            <li><a class="tab__content__link" th:href="@{/filme}">New Film</a></li>
          </ul>
          
          <ul class="cards">
            
            <li th:each="movie : ${filmes}" class="cards__item">
              <div class="cards__image cards__image--films">
                <i data-feather="film"></i>
              </div>
              <div class="cards__content">
                <h2 th:text="${movie.titulo}"></h2>
                <p>Streaming: <span th:text="${movie.streaming}"></span></p>
                <span th:if="${movie.status == 'Assistido'}" class="cards__status cards__status--watched">Watched</span>
                <span th:if="${movie.status == 'Assistindo'}" class="cards__status cards__status--watching">Watching</span>
                <span th:if="${movie.status == 'Quero assistir'}" class="cards__status cards__status--want">Want to Watch</span>
                
              </div>
              <div class="cards__actions">
                <a class="cards__button edit" th:href="@{'updfilme/' + ${movie.id}}">
                  <i class="cards__icon" data-feather="edit-2"></i>
                </a>
                <form th:action="@{'apagarfilme/' + ${movie.id}}" method=post>
	                <button  class="cards__button delete">
	                  <i class="cards__icon" data-feather="trash"></i>
	                </button>
                </form>
              </div>
            </li>
            
          </ul>
        </div>

  </div>

  <script>
    feather.replace()
  </script>
  <script src="js/utils/handleTabs.js"></script>
  <script src="js/utils/handleMenu.js"></script>
</body>
</html>
